.App {
    margin: 0;
    background: linear-gradient(to top left, #E78E2E, #F6A75F);
    display: flex;

}

.todo_main {

    background: linear-gradient(to top right, #77DD77, #64C08C);
    border: solid 1px black;
    margin: 10px;
    padding: 10px;
    width: 220px;
    display: inline-block;
    border-radius: 5px;
}

.title {
    text-align: center;
    font-family: "Arial Narrow", sans-serif;
}

.error {
    border: red 1px solid;
}

.error-message {
    color: red;
}

.active-filter {
    background-color: #C5E384;
}

.isDone {
    opacity: .6;

}

.Main_Input{

}